.vscode/*
**.swp
app/src/androidTest/
.idea/
.dart*
.packages
android/
linux/
ios/
pubspec*
app/src/test/
.project
.settings/*
app/.classpath
app/.project
app/.settings/*
compile_commands.json
release/
.firebase/*
.firebaserc
*.iml
.gradle
local.properties
.idea/*
.DS_Store
build
captures
.externalNativeBuild
.cxx
app/src/main/res/values/secret.xml
app/google-services.json
app/build
ecosystem-*
